In [1]:
import pandas as pd
import numpy as np

In [2]:
sheets = pd.read_excel("Data/Simulated Ne beta parameters, TDCASSCF, 2018-12-18.xlsx", sheet_name=None, index_col=0)

In [3]:
def cmpx(amp, shift):
    return amp * np.exp(1j * shift)


def split_p(data: pd.DataFrame, k: pd.DataFrame):
    p = cmpx(data["p_amp"], data["p_shift"])
    pdp1 = p.loc[1]
    pdp0 = k.loc[0, "pdp_amp"] * pdp1 / k.loc[1, "pdp_amp"]
    psp0 = p.loc[0] - pdp0
    ret = pd.DataFrame({
        "pdp": {-1: pdp1, 0: pdp0, 1: pdp1},
        "psp": {-1: np.nan, 0: psp0, 1: np.nan},
    }).rename_axis('m')
    return pd.concat([
        data.drop(columns=['p_amp', 'p_shift']),
        ret.apply(np.abs).add_suffix("_amp"),
        ret.apply(np.angle).add_suffix("_shift"),
    ], axis=1)

In [8]:
key = "good1"
splited = split_p(sheets[key], sheets["k"])
(splited/sheets["k"]).combine_first(splited)[
    ["sp_amp", "sp_shift", "psp_amp", "psp_shift", "pdp_amp", "pdp_shift", "dp_amp", "dp_shift", "fdp_amp", "fdp_shift"]
]

,sp_amp,sp_shift,psp_amp,psp_shift,pdp_amp,pdp_shift,dp_amp,dp_shift,fdp_amp,fdp_shift
m,,,,,,,,,,
-1,NaN,NaN,NaN,NaN,-0.317332,-2.268743,0.037673,0.0,0.425116,1.18461
0,-0.014157,2.111679,-0.109467,1.183787,-0.317332,-2.268743,0.038287,0.0,0.416484,1.18461
1,NaN,NaN,NaN,NaN,-0.317332,-2.268743,0.037673,0.0,0.425116,1.18461

In [9]:
key = "good2"
splited = split_p(sheets[key], sheets["k"])
(splited/sheets["k"]).combine_first(splited)[
    ["sp_amp", "sp_shift", "psp_amp", "psp_shift", "pdp_amp", "pdp_shift", "dp_amp", "dp_shift", "fdp_amp", "fdp_shift"]
]

,sp_amp,sp_shift,psp_amp,psp_shift,pdp_amp,pdp_shift,dp_amp,dp_shift,fdp_amp,fdp_shift
m,,,,,,,,,,
-1,NaN,NaN,NaN,NaN,-0.305101,-2.352871,0.031456,0.0,0.516476,1.143752
0,-0.013074,2.338519,-0.024189,-0.600592,-0.305101,-2.352871,0.031826,0.0,0.512259,1.143752
1,NaN,NaN,NaN,NaN,-0.305101,-2.352871,0.031456,0.0,0.516476,1.143752

In [10]:
key = "good3"
splited = split_p(sheets[key], sheets["k"])
(splited/sheets["k"]).combine_first(splited)[
    ["sp_amp", "sp_shift", "psp_amp", "psp_shift", "pdp_amp", "pdp_shift", "dp_amp", "dp_shift", "fdp_amp", "fdp_shift"]
]

,sp_amp,sp_shift,psp_amp,psp_shift,pdp_amp,pdp_shift,dp_amp,dp_shift,fdp_amp,fdp_shift
m,,,,,,,,,,
-1,NaN,NaN,NaN,NaN,-0.049413,-2.848975,0.027659,0.0,0.307904,1.248547
0,-0.008718,1.805942,-0.014117,-1.282884,-0.049413,-2.848975,0.027721,0.0,0.310398,1.248547
1,NaN,NaN,NaN,NaN,-0.049413,-2.848975,0.027659,0.0,0.307904,1.248547

In [11]:
key = "good4"
splited = split_p(sheets[key], sheets["k"])
(splited/sheets["k"]).combine_first(splited)[
    ["sp_amp", "sp_shift", "psp_amp", "psp_shift", "pdp_amp", "pdp_shift", "dp_amp", "dp_shift", "fdp_amp", "fdp_shift"]
]

,sp_amp,sp_shift,psp_amp,psp_shift,pdp_amp,pdp_shift,dp_amp,dp_shift,fdp_amp,fdp_shift
m,,,,,,,,,,
-1,NaN,NaN,NaN,NaN,-0.317469,-2.26864,0.019883,0.0,0.424878,1.184116
0,-0.007493,2.111979,-0.10949,1.183048,-0.317469,-2.26864,0.020014,0.0,0.416299,1.184116
1,NaN,NaN,NaN,NaN,-0.317469,-2.26864,0.019883,0.0,0.424878,1.184116