In [1]:
import pandas as pd
import numpy as np

In [2]:
sheets = pd.read_excel("Data/parameters_He_Ne (reformatted).xlsx", sheet_name=None, index_col=0)

In [3]:
def cmpx(amp, arg):
    return amp * np.exp(1j * arg)


def split_p(data: pd.DataFrame, k: pd.DataFrame):
    p = cmpx(data["p_amp"], data["p_arg"])
    pdp1 = p.loc[1]
    pdp0 = k.loc[0, "pdp_amp"] * pdp1 / k.loc[1, "pdp_amp"]
    psp0 = p.loc[0] - pdp0
    ret = pd.DataFrame({
        "pdp": {-1: pdp1, 0: pdp0, 1: pdp1},
        "psp": {-1: np.nan, 0: psp0, 1: np.nan},
    }).rename_axis('m')
    return pd.concat([
        data.drop(columns=['p_amp', 'p_arg']),
        ret.apply(np.abs).add_suffix("_amp"),
        ret.apply(np.angle).add_suffix("_arg"),
    ], axis=1)

In [4]:
key = "good1_ne"
splited = split_p(sheets[key], sheets["k"])
(splited/sheets["k"]).combine_first(splited)

,dp_amp,dp_arg,fdp_amp,fdp_arg,pdp_amp,pdp_arg,psp_amp,psp_arg,sp_amp,sp_arg
m,,,,,,,,,,
-1,0.038563,0.0,0.062154,1.203569,-0.069009,-2.274385,NaN,NaN,NaN,NaN
0,0.039725,0.0,0.063376,1.204615,-0.069009,-2.274385,-0.052666,1.208117,-0.032928,2.111679
1,0.038563,0.0,0.062154,1.203569,-0.069009,-2.274385,NaN,NaN,NaN,NaN

In [5]:
key = "good2_ne"
splited = split_p(sheets[key], sheets["k"])
(splited/sheets["k"]).combine_first(splited)

,dp_amp,dp_arg,fdp_amp,fdp_arg,pdp_amp,pdp_arg,psp_amp,psp_arg,sp_amp,sp_arg
m,,,,,,,,,,
-1,0.035878,0.0,0.076922,1.161638,-0.077917,-2.329838,NaN,NaN,NaN,NaN
0,0.035538,0.0,0.076504,1.162043,-0.077917,-2.329838,-0.01269,-0.31351,-0.033212,2.338519
1,0.035878,0.0,0.076922,1.161638,-0.077917,-2.329838,NaN,NaN,NaN,NaN

In [6]:
key = "good3_ne"
splited = split_p(sheets[key], sheets["k"])
(splited/sheets["k"]).combine_first(splited)

,dp_amp,dp_arg,fdp_amp,fdp_arg,pdp_amp,pdp_arg,psp_amp,psp_arg,sp_amp,sp_arg
m,,,,,,,,,,
-1,0.025754,0.0,0.046496,1.259643,-0.009776,2.450947,NaN,NaN,NaN,NaN
0,0.027226,0.0,0.047917,1.265858,-0.009776,2.450947,-0.030084,-1.935585,-0.019186,1.805942
1,0.025754,0.0,0.046496,1.259643,-0.009776,2.450947,NaN,NaN,NaN,NaN

In [7]:
key = "good4_ne"
splited = split_p(sheets[key], sheets["k"])
(splited/sheets["k"]).combine_first(splited)

,dp_amp,dp_arg,fdp_amp,fdp_arg,pdp_amp,pdp_arg,psp_amp,psp_arg,sp_amp,sp_arg
m,,,,,,,,,,
-1,0.057293,-1.070000e-17,0.062059,1.202707,-0.069019,-2.274041,NaN,NaN,NaN,NaN
0,0.059011,0.000000e+00,0.063297,1.203681,-0.069019,-2.274041,-0.052668,1.20733,-0.048936,2.111979
1,0.057293,0.000000e+00,0.062059,1.202707,-0.069019,-2.274041,NaN,NaN,NaN,NaN